# OS Specific
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml
.vscode/
*.swp

# Go (boiler-pi-simulator)
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Java / Maven (flink-job)
target/
*.class
*.jar
*.war
*.ear
hs_err_pid*

# Logs
*.log
